// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// // Variables
// @import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#app{
    // Test
    height: 100vh;
    width: 100%;
}

//Test
a{
    text-decoration: none;
    color: black;
}
